@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*
{
    font-family:'PT Sans', sans-serif;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
}
#divparent
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    padding: 30px 0px;
}
#divparent>div:first-child
{
    text-align: center;
}
#divparent>div:nth-child(2)>h1
{
    font-size: 40px;
    margin-bottom: 20px;
}
#divparent>div:nth-child(2)>h3
{
    margin: 20px 0px;
}
#divparent>div:nth-child(2)>h4
{
    margin: 20px 0px;
}
#form, #lang
{
    background-color: #e5e5e5;
    color: black;
    padding: 5px;
}
#intertext
{
    cursor: pointer;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
#BT
{
    color: white;
    background-color: #f84464;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}
#share
{
    cursor: pointer;
    padding: 10px;
    background-color: #1a2934;
}
#about,#offers,#Castparent,#Crewparent,#Likeparent
{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
#about>h4
{
    margin-top: 20px;
}
#offerchild
{
    padding: 20px;
    border: 1px solid #ffd564;
    margin: 20px 0px;
    width: 30%;
    background-color: #fff1cc;
    line-height: 25px;
    border-radius: 10px;
    border-style: dashed;
    cursor: pointer;
}
#trailer
{
    position: absolute;
    left: 18%;
    top: 30%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}
#Cast
{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    text-align: center;
}
#Crew,#Like
{
    display: flex;
    gap: 10px;
    text-align: center;
}
#Cast img,#Crew img
{
    border-radius: 50%;
    width: 70%;
}
