@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*
{
    font-family:'PT Sans', sans-serif;
    letter-spacing: 1px;
}
.mainDiv {
	
	padding: 20px;
	display: flex;
	gap: 10px;
}

.movieHallNameDiv {
	font-weight: bold;
}

.loveMovieHallName:hover {
	color: red;
	cursor: pointer;
	transition: fill .3s;
	stroke-width: 5px;
}

.foodIcon {
	height: 20px;
	color: orange;
}

.ticketBeverageDiv {
	color: orange;
}

.leftDiv {
	flex: 1;
}

/* Mid div */

.midDiv {
	flex: 1;
}

.midDiv p {
	font-size: 12px;
	color: rgb(124, 115, 115);
}

/* Right div */
.timeDiv {
	display: flex;
	gap: 25px;
}

.rightDiv {
	flex: 2;
}

.times {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 2px 20px;
	color: #79c1b1;
	font-weight: 500;
    cursor: pointer;
}

.cancellationDiv p {
	color: rgb(124, 115, 115);
}
#moviedesc
{
	background-color: #333545;
	color: white;
	padding: 20px 0px 10px;
	width: 100%;
}
#card,#dates,.mainDiv
{
	padding-left:100px ;
}
.desc
{
	width: 20%;
	border: 2px solid #646672;
	padding: 10px;
	border-radius: 10px;
}
.rating
{
	width: 5%;
	padding: 10px;
	border: 2px solid white;
	border-radius: 10%;
	text-align: center;
}
.datebtn
{
	cursor: pointer;
	padding: 15px;
	margin: 20px 20px 20px 0px;
	border: none;
	background-color: #f84464;
	color: white;
	font-weight: bold;
}
@media screen and (max-width: 430px) 
{
	.timeDiv {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		gap: 25px;
		margin-right: 20px;
	}
}
@media screen and (min-width: 431px) and (max-width: 1024px) 
{
	.timeDiv {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 25px;
		margin-right: 20px;
	}
}






