@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*
{
    font-family:'PT Sans', sans-serif;
    letter-spacing: 1px;
    margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

#movie {
  width: 65%;
  margin: auto;
}

#movie>span {
  text-transform: capitalize;
  color: #a5aba5;
  font-size: 14px;
}

#seat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  justify-content: center;
}

.span {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.span>div {
  display: flex;
  width: 95%;
  gap: 5px;
  justify-content: center;
}

.span>div>div {
  width: 25px;
  height: 25px;
  display: flex;
  border: 2px solid #1ea83c;
  color: #1ea83c;
  align-items: center;
  justify-content: center;
}

.span>div>div:hover {
  background-color: #1ea83c;
  color: #fff;
}

.span span {
  color: #a5aba5;
}

hr {
  margin: 10px;
}

/* navbar */

#header * {
  color: #fff;
}

#header {
  display: flex;
  background-color: #1f2533;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding: 0 25px;
}

#header a {
  text-decoration: none;
}

#right,
#left {
  display: flex;
  gap: 20px;
  align-items: center;
}

#back img {
  color: #fff;
  transform: rotate(180deg);
}

#back {
  font-size: 24px;
  font-weight: 900;
}

#left button {
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
}

#left button:first-child {
  border: 2px solid #fff;
}

#left img {
  height: 13px;
}

/* time */
#time {
  margin-bottom: 20px;
  /* display: flex; */
  align-content: center;
  padding: 10px 0px 20px 30px;
}

#timing {
  width: 100px;
  background: #2dc492;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#screen {
  width: 70%;
  margin: 100px auto 50px auto;
  height: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #a5aba5;
}

#seats {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  z-index: 98;
}

#seats>div {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

#sold {
  border: 1px solid #1ea83c;
}

#free {
  background-color: #a5aba5;
}

#select {
  background-color: #1ea83c;
}

#seats>span {
  color: #a5aba5;
}

#topay{
  background-color: #f84464;
  color: white;;
  cursor: pointer;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
#paydiv{
  display: none;
  background-color: white;
  padding-top: 15px;
  text-align: center;box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 99;
  height: 100px;
  width: 100%;  
  position: fixed;
  margin-top: -50px;
}